body {
    background-color: black;
    color: white;
    font-family: "CircularSp", CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

:root {
    --a: 0;
}

.container {
    gap: 7px;
}

.left {
    width: 25vw;
    font-weight: 700;
    flex-direction: column;
    gap: 7px;
    position: relative;
}

.left .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    display: none;
}

.left img {
    width: 24px;
    height: 24px;
    padding-right: 20px;
}

.left img:first-child {
    width: auto;
    height: 24px;
}

.left_upper {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #121212;
}

.left_upper div {
    cursor: pointer;
}

.left_upper :nth-child(3) {
    color: #b3b3b3;
}

.left_lower {
    height: 72vh;
    border-radius: 8px;
    background-color: #121212;
    color: #b3b3b3;
    padding: 17px 0px 17px 20px;
    box-sizing: border-box;
    position: relative;
}

.playlist {
    justify-content: space-between;
}

.playlist div {
    cursor: pointer;
}

.playlist div:hover {
    color: white;
}

.songList {
    height: 40vh;
    overflow-y: auto;
}

.songList ul {
    box-sizing: border-box;
    padding: 0px 7px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.songList ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    border: 1px solid rgba(146, 143, 143, 0.491);
    border-radius: 5px;
    padding: 12px 0;
    box-sizing: border-box;
}

.songList .info {
    font-size: 13px;
}

.songList .info div {
    word-break: break-all;
}

.playnow img {
    padding-right: 10px;
}

.footer {
    position: absolute;
    bottom: 35px;
}

.sub {
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.sub a {
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-size: 11px;
}

.footer>div:nth-child(2):hover {
    text-decoration: underline;
}

.right {
    width: 75vw;
    background-color: #1c1c1c;
    border-radius: 8px;
    position: relative;
}

.header {
    height: 64px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding: 16px;
    box-sizing: border-box;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 25vw;
}

.header img {
    width: 16px;
    height: 16px;
}

.nav>img:first-child {
    width: 24px;
    height: 24px;
    padding-right: 10px;
}

.hamburger {
    display: none;
}

.nav button {
    padding: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 25px;
}

.buttons button {
    font-family: "CircularSp", CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    font-weight: 700;
    font-size: 15px;
    margin: 0px 13px;
    cursor: pointer;
}

.buttons button:first-child {
    background-color: transparent;
    border: 1px solid transparent;
    color: #a7a7a7;
}

.buttons button:first-child:hover {
    color: white;
    font-size: 16px;
}

.buttons button:nth-child(2) {
    box-sizing: border-box;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 25px;
}

.buttons button:nth-child(2):hover {
    font-size: 16px;
    margin: 0px 11.5px;
}

.spotifyPlaylists {
    padding: 0px 5px;
}

.spotifyPlaylists h2 {
    padding: 0px 12px;
}

.cardContainer {
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: auto;
    gap: 10px;
}

.card {
    width: 162px;
    /* height: auto; */
    /* height: 228px; */
    padding: 12px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
    position: relative;
    background-color: #252525;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out;
}

.card:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.card div>img {
    width: 138px;
    object-fit: contain;
    /* height: 138px; */
    border-radius: 8px;
}

.card div button {
    position: absolute;
    top: 95px;
    right: 22px;
    background-color: #1fdf64;
    border: 1px solid #1fdf64;
    border-radius: 100px;
    padding: 10px 10px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
    /* visibility: hidden; */
}

.card div button img {
    width: 22px;
    height: 22px;
    display: flex;
}

.card div:nth-child(3) {
    font-size: 14px;
    color: #a7a7a7;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.playbar {
    position: fixed;
    bottom: 40px;
    width: 71vw;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    padding: 12px;
    /* min-height: 35px; */
}

.abovebar {
    width: 98%;
    justify-content: space-between;
    padding: 0px 12px 6px 12px;
}

.songbuttons img {
    cursor: pointer;
}

.songbuttons{
    gap: 5px;
}

.songinfo {
    width: 250px;
}

.songinfo,
.songtime {
    color: black;
}

.timevol {
    gap: 8px;
}

.volume img,
.range input {
    cursor: pointer;
}

.seekbar {
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    margin: 4px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

@media (max-width: 1200px) {

    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        height: 100vh;
        background-color: black;
        position: fixed;
        top: 0px;
    }

    .left .close {
        display: block;
        cursor: pointer;
    }

    .right {
        width: 100vw;
    }

    /* .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 25vh;
    } */

    .card {
        width: 44vw;
        height: auto
    }

    .card div>img {
        width: 100%;
    }

    .card div button {
        position: absolute;
        top: 260px;
        right: 45px;
    }

    .playbar {
        width: calc(100vw - 60px);
        font-size: 12px;
    }

    .playbar img {
        width: 16px;
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .cardContainer {
        justify-content: center;
        max-height: 50vh;
    }

    .card div button {
        position: absolute;
        top: 265px;
        right: 35px;
    }

    .playbar {
        width: 88vw;
        /* position: fixed; */
        bottom: 15px;
    }

    .abovebar {
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }

    .timevol {
        flex-direction: column;
    }

    .songinfo {
        width: 125px;
        text-align: center;
    }

    .songbuttons{
        gap: 12px;
    }

    .card {
        width: 100%;
        height: auto
    }

    .card div>img {
        width: 100%;
    }

    .left{
        width: 100%;
    }
}